-i https://pypi.cloud.soda.io
shandy-sqlfmt[jinjafmt]
psycopg2==2.9.7
python-slugify==8.0.1
python-dotenv==1.0.0
dbt-core==1.6.2
dbt-postgres==1.6.2
soda-postgres==1.1.8
prefect==2.13.0
prefect-soda-core[postgres]==0.1.6
prefect-dbt[postgres]==0.3.1
