services:

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    hostname: kafka
    ports:
      - "9092:9092"
    networks:
      - network
    environment:
      KAFKA_HEAP_OPTS: "-Xms256m -Xmx256m"
      CLUSTER_ID: fb0PhypcS4ml4qBptAIHXw # Pre-generated UUID for KRaft mode

      # ---- KRaft mode ----
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      # ---- Listeners ----
      KAFKA_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://0.0.0.0:9092,CONTROLLER://kafka:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      # ---- Dev-friendly defaults ----
      KAFKA_NUM_PARTITIONS: 1
      KAFKA_LOG_RETENTION_HOURS: 168
      KAFKA_LOG_SEGMENT_BYTES: 134217728   # 128MB
      KAFKA_LOG_RETENTION_BYTES: 268435456 # 256MB
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

    volumes:
      - kafka_data:/var/lib/kafka/data

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - 8080:8080
    networks:
      - network
    environment:
      - JAVA_TOOL_OPTIONS=-Xms64m -Xmx128m
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:29092
    depends_on:
      - kafka

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"  # S3 API
      - "9001:9001"  # Console UI
    networks:
    - network
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin123
    volumes:
      - minio_data:/data

  spark:
    mem_limit: 2.5g
    cpus: 2.0
    image: apache/spark:3.5.8-scala2.12-java17-python3-ubuntu
    container_name: spark
    networks:
      - network
    depends_on:
      - kafka
      - minio
    volumes:
      - ./spark-app:/opt/spark-app
      - ./spark-conf/spark-defaults.conf:/opt/spark/conf/spark-defaults.conf:ro
    command: ["sleep", "infinity"]

  duckdb:
    image: duckdb/duckdb:latest
    container_name: duckdb
    stdin_open: true
    tty: true
    networks:
      - network
    volumes:
      - ./duckdb/init.sql:/init.sql:ro
    depends_on:
      - minio  
    environment:
      S3_ENDPOINT: minio:9000

  
volumes:
  kafka_data:
  minio_data:

networks:
  network:
